<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div class="weather-now">
        <div class="weather-now-icon">
            <table>
                <td>
                    <img src="icons/png/128x128/nt_mostlycloudy.png" alt="clear">
                </td>
                <td>
                    <div class="temperature-now">5°</div>
                    <div class="weather-now">Mostly Cloudy</div>
                </td>
            </table>
        </div>
    </div>
    <div class="header-right">
        <div class="city">Mannheim</div>
        <div class="date">Saturday, Nov 20</div>
    </div>

    <div class="hourly-forecast-1">
        <img src="icons/png/64x64/mostlysunny.png" alt="clear">
        <br> 9:00 <br> 4° Mostly Cloudy
    </div>

    <div class="hourly-forecast-2">
        <img src="icons/png/64x64/sunny.png" alt="clear">
        <br> 10:00 <br> 12° Clear
    </div>

    <div class="hourly-forecast-3">
        <img src="icons/png/64x64/tstorms.png" alt="clear">
        <br> 11:00 <br> 34° Thunderstorms
    </div>

    <div class="hourly-forecast-4">
        <img src="icons/png/64x64/rain.png" alt="clear">
        <br> 12:00 <br> 7° Rain
    </div>

    <div class="hourly-forecast-5">
        <img src="icons/png/64x64/fog.png" alt="clear">
        <br> 13:00 <br> 8° Fog
    </div>

    <div class="astro">
        <img src="wi-icons/weather/wi-moon-waxing-gibbous-1.png">
        <br> Waxing Gibbous
        <br>
        <br> Sunrise: 17:00
        <br> Sunset : 23:00
    </div>

</body>

</html>